<!--
  Generated template for the LiveMatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding [ngClass]="{'landscape': isLandscape}">
  <div *ngIf="isLandscape" class="landscape-container">
    <ion-buttons class="rotate-landscape">
      <button ion-button icon-only (tap)="rotate()">
        <ion-icon name="{{rotation}}"></ion-icon>
      </button>
    </ion-buttons>
    <ion-grid class="game-landscape-info">
      <ion-row align-items-center>
        <ion-col col-4 class="text-center">
          {{(currentGame)?.teamA}}
        </ion-col>
        <ion-col col-1 class="text-center" [ngClass]="(((currentGame)?.resultA > (currentGame)?.resultB)) ? 'winner' : ''">
          {{(currentGame)?.resultA}}
        </ion-col>
        <ion-col col-2 class="text-center">
          -
        </ion-col>
        <ion-col col-1 class="text-center" [ngClass]="(((currentGame)?.resultB > (currentGame)?.resultA)) ? 'winner' : ''">
          {{(currentGame)?.resultB}}
        </ion-col>
        <ion-col col-4 class="text-center">
          {{(currentGame)?.teamB}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="game-landscape-set-info">
      <ion-row align-items-center>
        <ion-col col-5 class="text-center set-value" [ngClass]="{'winner' : ((currentGame)?.sets[currentGame.resultA + currentGame.resultB].a > (currentGame)?.sets[currentGame.resultA + currentGame.resultB].b && 
                    (gameOver || isSetEnded()))}">
          {{(currentGame)?.sets[currentGame.resultA + currentGame.resultB].a}}
        </ion-col>
        <ion-col col-2 class="text-center set-value">
          -
        </ion-col>
        <ion-col col-5 class="text-center set-value" [ngClass]="{'winner' : ((currentGame)?.sets[currentGame.resultA + currentGame.resultB].b > (currentGame)?.sets[currentGame.resultA + currentGame.resultB].a  && 
                    (gameOver || isSetEnded()))} ">
          {{(currentGame)?.sets[currentGame.resultA + currentGame.resultB].b}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!isLandscape" class="portrait-container">
    <div class="match-info-container">
      <ion-grid>
        <ion-row>
          <ion-col col-4 class="text-center">
            {{(currentGame)?.teamA}}
          </ion-col>
          <ion-col col-1 class="text-center" [ngClass]="(((currentGame)?.resultA > (currentGame)?.resultB)) ? 'winner' : ''">
            {{(currentGame)?.resultA}}
          </ion-col>
          <ion-col col-2 class="text-center">
            -
          </ion-col>
          <ion-col col-1 class="text-center" [ngClass]="(((currentGame)?.resultB > (currentGame)?.resultA)) ? 'winner' : ''">
            {{(currentGame)?.resultB}}
          </ion-col>
          <ion-col col-4 class="text-center">
            {{(currentGame)?.teamB}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="(currentGame)?.live">
        <ion-row *ngIf="!isAudience">
          <ion-col col-5 class="text-center">
            <ion-buttons>
              <button ion-button icon-only class="full-width" [disabled]="pause || gameOver" (click)="updateSetValue('a', true)" color="secondary">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
          <ion-col col-5 offset-2 class="text-center">
            <ion-buttons>
              <button ion-button icon-only class="full-width" [disabled]="pause || gameOver" (click)="updateSetValue('b', true)" color="secondary">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 class="text-center set-value" [ngClass]="{'winner' : ((currentGame)?.sets[currentGame.resultA + currentGame.resultB].a > (currentGame)?.sets[currentGame.resultA + currentGame.resultB].b && 
                  (gameOver || isSetEnded()))}">
            {{(currentGame)?.sets[currentGame.resultA + currentGame.resultB].a}}
          </ion-col>
          <ion-col col-2 class="text-center set-value">
            -
          </ion-col>
          <ion-col col-5 class="text-center set-value" [ngClass]="{'winner' : ((currentGame)?.sets[currentGame.resultA + currentGame.resultB].b > (currentGame)?.sets[currentGame.resultA + currentGame.resultB].a  && 
                  (gameOver || isSetEnded()))} ">
            {{(currentGame)?.sets[currentGame.resultA + currentGame.resultB].b}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isAudience">
          <ion-col col-5 class="text-center">
            <ion-buttons>
              <button ion-button icon-only class="full-width" [disabled]="pause || gameOver" (click)="updateSetValue('a', false)" color="secondary">
                <ion-icon name="remove"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
          <ion-col col-5 offset-2 class="text-center">
            <ion-buttons>
              <button ion-button icon-only class="full-width" [disabled]="pause || gameOver" (click)="updateSetValue('b', false)" color="secondary">
                <ion-icon name="remove"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="(pause || gameOver) && !isAudience">
        <ion-row>
          <ion-col col-5>
            <ion-buttons>
              <button ion-button class="full-width" (click)="rollBack()">
                <ion-icon name="undo" class="icon-sets"></ion-icon>
                Torna indietro
              </button>
            </ion-buttons>
          </ion-col>
          <ion-col col-5 offset-2>
            <ion-buttons>
              <button ion-button class="full-width" (click)="createSet()" color="{{gameOver ? 'success' : 'primary'}}">
                <ion-icon name="{{gameOver ? 'filing' : 'refresh'}}" class="icon-sets"></ion-icon>
                {{gameOver ? 'Salva ed esci' : 'Nuovo set'}}
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- sezione spettatori -->
    <div>Spettatori: {{ participants?.length }}</div>
    <!-- <ion-list>
      <div ion-item *ngFor="let participant of participants?; let i = index">
        {{ (i + 1) + '° SET: ' +  set.a + ' - ' + set.b }}
      </div>  
    </ion-list> -->
    <!-- sezione dati set-->
    <div>Risultati</div>
    <ion-list>
      <div ion-item *ngFor="let set of currentGame?.sets; let i = index">
        {{ (i + 1) + '° SET: ' +  set.a + ' - ' + set.b }}
      </div>  
    </ion-list>

  </div>


</ion-content>