page-live-match {
  .set-value {
    font-size: 80px;
    font-weight: 300;
    &.reduced {
      font-size: 25px;
      font-weight: bold;
    }
  }
  .icon-sets {
    margin-right: 5px;
  }
  .winner {
    font-weight: bold;
  }
  .chat-container {
    margin-top: 20px;
    position: relative;
    .expand-icon {
      position: absolute;
      left: 40%;
      top: 40%;
      background: lightgray;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      padding-left: 18px;
      padding-top: 9px;
      opacity: 0.5;
      font-size: 50px;
      cursor: pointer;
      
      &.expanded {
        top: 10px;
        right: 10px;
        left: auto;
        height: 40px;
        width: 40px;
        font-size: 30px;
        padding-left: 9px;
        padding-top: 5px;
      }
    }

    .scrollable-content {
      overflow: auto;
      border-top: solid 1px;
      margin-bottom: 10px;
      height: 100%;

      .chat {
        margin: 5px;
        .chat-user-image {
          height: 40px;
          width: 40px;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
          &.owner {
            display: none;
          }
          .anonymous-icon {
            font-size: 49px;
            color: gray;
          }
        }
        .chat-text {
          background: lightblue;
          padding: 10px;
          border-radius: 5px;
          max-width: calc(100% - 40px);
          margin-left: 5px;
          &.owner {
            background: lightcoral;
            max-width: calc(100% - 45px);
          }
        }
        .small-text {
          font-size: 12px;
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    .chat-footer {
      .chat-text-area {
        border: solid 1px;
        border-radius: 15px;
        width: calc(100% - 60px);
        textarea {
          width: calc(100% - 20px);
        }
      }
      .send-button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }
  }
}
