page-live-match {
  .set-value {
    font-size: 80px;
    font-weight: 300;
    &.reduced {
      font-size: 25px;
      font-weight: bold;
    }
  }
  .icon-sets {
    margin-right: 5px;
  }
  .winner {
    font-weight: bold;
  }
  .portrait-container {
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    position: absolute;
  }

  .landscape {
    background: black;
    color: white;
    .landscape-container {
      height: 100%;
      .rotate-landscape {
        position: absolute;
        right: 20px;
        button {
          background-color: black;
        }
      }
      .row {
        height: 100%;
      }
      .game-landscape-info {
        height: 40%;
        .text-center {
          font-size: 8vw;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .game-landscape-set-info {
        height: 60%;
        .set-value {
          font-size: 18vw;
        }
      }
    }
  }
}
