page-formation {
  .team-name-read-only {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .prima-linea {
    background-color: orange;
    border: solid 3px;
    width: 100%;
    padding-top: 33.3%; /* 3:1 Aspect Ratio */
    position: relative;
  }

  .seconda-linea {
    background-color: orange;
    border: solid 3px;
    border-top: 0;
    width: 100%;
    padding-top: 66.6%; /* 3:2 Aspect Ratio */
    position: relative;
  }

  .grid-court {
    position: absolute;
    top: 0;
  }

  .button-add-player {
    padding-right: 10px !important;
  }

  .player-title {
    margin-top: 10px;
    font-size: 24px;
  }
  .player-card {
    margin: 0;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .player-name {
      height: 100%;
      line-height: 37px;

      margin-left: 10px;
    }

    .player-number {
      border: 2px solid;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      text-align: center;
      padding-top: 4px;
    }
  }
}
