page-dashboard {
  .dashboard-container {
    .empty-dashboard {
      //background: url("../../assets/imgs/volley_empty_list.png") no-repeat center center;
      height: 100%;
      //width: 100%;
    }
    .text_empty_dashboard {
      text-align: center;
      //position: absolute;
      //top: 65%;
      font-size: 16px;
    }
  }
  .update-button {
    .button-inner {
      flex-direction: column;
      .icon {
        margin-bottom: 5px;
      }
    }
  }

  .side-text {
    color: gray;
    font-size: 14px;
  }

  .live-text {
    &.live {
      color: color($colors, danger, base);
      font-weight: bold;
      text-transform: uppercase;
      &:before {
        display: inline-block;
        content: "";
        height: 10px;
        width: 10px;
        margin-right: 5px;
      }

      &:before {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: color($colors, danger, base);
      }
    }
  }

  .relevant-text {
    font-size: 18px;
    &.winner {
      font-weight: bold;
    }
  }

  .game-card {
    cursor: pointer;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &.live {
      border: solid 2px color($colors, danger, base);
    }
  }
}
