<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end *ngIf="(onlineVersion | async)?.current != version">
      <button ion-button icon-only (click)="reload()" class="update-button">
        <ion-icon md="md-cloud-download"></ion-icon>
        Update
      </button>
    </ion-buttons>
    <!-- <ion-buttons end *ngIf="userLogged">
        <button ion-button icon-only (click)="logOut()">
          <ion-icon md="md-log-out"></ion-icon>
        </button>
      </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding class="dashboard-container">
  <div class="empty-dashboard" *ngIf="emptyGames">
    <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%">
        <div>
          <img src="../../assets/imgs/volley_empty_list.png" />
          <p class="text_empty_dashboard">Non hai partite salvate.. Incomincia creandone una!</p>
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!emptyGames">
      <ion-grid>
          <ion-row>
            <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let game of games | async; let i = index">
                <ion-card class="animated bounceIn" [style.animation-delay]=" i/10 + 's'">
                    <ion-card-header>
                        {{game.name}}
                    </ion-card-header>
                    <ion-card-content>
                      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
                    </ion-card-content>
                  </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
  
  </div>

  <button (click)="onActivate()">top!</button>

  
</ion-content>