<ion-menu [content]="content">
    <!-- <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header> -->
    <ion-content>
        <div>
            <img class="user-placeholder user-image" src="../assets/svg/account_circle.svg" *ngIf="!userLogged" />
            <img class="user-image" src="{{userImage}}" *ngIf="userLogged" />
            <div *ngIf="userLogged" class="float-left user-info">
                <div class="bigger-text">Ciao</div>
                <div>{{userName}}</div>
            </div>
        </div>
        <div class="clear"></div>
        <p class="do-login-message" *ngIf="!userLogged">Fai login per accedere a tutte le funzionalità</p>
        <ion-list>
            <button menuClose ion-item icon-left (click)="goToDashboard()" [ngClass]="{'menu-active': currentMenu == 'dashboard'}">
                <ion-icon name="home"></ion-icon>
                Homepage
            </button>
            <button *ngIf="!userLogged" menuClose ion-item icon-left (click)="goToLogin()" [ngClass]="{'menu-active': currentMenu == 'login'}">
                <ion-icon name="contact"></ion-icon>
                Login
            </button>
            <button menuClose ion-item icon-left (click)="goToSearchLive()" [ngClass]="{'menu-active': currentMenu == 'search-live'}">
                <ion-icon name="flag"></ion-icon>
                Partite in corso
            </button>


            <button *ngIf="userLogged" menuClose ion-item icon-left (click)="popupLogout()">
                <ion-icon name="log-out"></ion-icon>
                Esci
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
<ion-fab class="fab-dashboard" bottom right (click)="fabOnClick()" *ngIf="hasFab">
    <button ion-fab icon-only color="{{fabColor}}" class="fab-button">
        <ion-icon name="{{fabIcon}}" class="fab-icon"></ion-icon>
    </button>
</ion-fab>