// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
div {
  font-size: 16px;
}

.user-image {
  width: 100px;
  height: 100px;
  margin: 15px;
  float: left;

  &:not(.user-placeholder) {
    border-radius: 50%;
    border: solid color($colors, primary, base) 2px;
  }
}

.visible {
  display: block !important;
}

.full-height {
  height: 100%;
}

.toast-login {
  margin: 20px;
  width: calc(100% - 40px);
  margin-top: 70px;
  > div {
    text-align: center;
    border-radius: 10px;
  }

  &.success {
    > div {
      background-color: color($colors, success, base) !important;
    }
  }

  &.failure {
    > div {
      background-color: color($colors, danger, base) !important;
    }
  }
}

.bigger-text {
  font-size: 24px;
}

.float-left {
  float: left;
}

.clear{
    clear: both;
}

.user-info {
  margin-top: 40px;
}

.do-login-message{
    margin-left: 15px;
}

.menu-active{
    background-color: color($colors, secondary, base);
}

.fab-dashboard {
  margin: 15px;
}

.scroll-content{
  overflow: auto;
}
