<ion-menu [content]="content">
    <!-- <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header> -->
    <ion-content>
        <img class="user-placeholder user-image" src="../assets/svg/account_circle.svg" *ngIf="!userLogged" />
        <img class="user-image" src="{{userImage}}" *ngIf="userLogged" />
        <p *ngIf="!userLogged">Fai login per accedere a tutte le funzionalità</p>
        <ion-list>
            <button menuClose ion-item icon-left (click)="goToLogin()">
                <ion-icon name="login" md="md-contact"></ion-icon>
                Login
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>