player {
  .number-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
    .number {
      background: white;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      border: solid 2px;
      font-size: 24px;
    }
  }
  .name {
    margin-top: 10px;
  }
  .unknown {
    opacity: 0.5;
  }
}
