<!-- Generated template for the GameWidgetComponent component -->
<ion-card class="animated bounceIn game-card" [ngClass]="{'live': game.live}" [style.animation-delay]=" i/10 + 's'" (press)="onPressingCardGame(game)">
  <!-- <ion-card-header>
    {{game.name}}
  </ion-card-header> -->
  <ion-card-content class="card-content">
    <div class="game-content" [ngClass]="{'edit': onEdit}" (tap)="openGame(game)">
      <div class="float-left side-text live-text" [ngClass]="{'live': game.live}">{{game.live ? 'Live' : 'Punteggio finale'}}</div>
      <div class="float-right side-text">{{game.date}}</div>
      <div class="clear">
        <div class="float-left relevant-text" [ngClass]="{'winner': game.resultA > game.resultB}">{{game.teamA}}</div>
        <div class="float-right relevant-text" [ngClass]="{'winner': game.resultA > game.resultB}">{{game.resultA}}</div>
      </div>
      <div class="clear">
        <div class="float-left relevant-text" [ngClass]="{'winner': game.resultB > game.resultA}">{{game.teamB}}</div>
        <div class="float-right relevant-text" [ngClass]="{'winner': game.resultB > game.resultA}">{{game.resultB}}</div>
      </div>
      <div class="clear side-text">{{game.location.id == undefined || game.location.id == "" ? "Posizione non registrata" : game.location.name + ", " + game.location.city}}</div>
    </div>
    <ion-checkbox [(ngModel)]="game.checked" (ionChange)="updateEditCheck(game, false)" class="edit-game-checkbox" [ngClass]="{'edit': onEdit}"
    (tap)="tapCheckbox(game)"></ion-checkbox>
  </ion-card-content>
</ion-card>
