game-widget {

    .side-text {
        color: gray;
        font-size: 14px;
      }
    
      .live-text {
        &.live {
          color: color($colors, danger, base);
          font-weight: bold;
          text-transform: uppercase;
          &:before {
            display: inline-block;
            content: "";
            height: 10px;
            width: 10px;
            margin-right: 5px;
          }
    
          &:before {
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-color: color($colors, danger, base);
          }
        }
      }
    
      .relevant-text {
        font-size: 18px;
        &.winner {
          font-weight: bold;
        }
      }
    
      .game-card {
        cursor: pointer;
        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }
        &.live {
          border: solid 2px color($colors, danger, base);
        }
    
        .card-content{
          position: relative;
          .game-content.edit{
            opacity: 0.5;
          }
          .edit-game-checkbox{
            display: none;
            position: absolute;
            bottom: 10px;
            right: 10px;
            &.edit{
              display: block;
            }
          }
        }
        
      }
}
